 [Unit]
 Description=SerialMix Web server and Rest API.
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=bash -c '/usr/bin/python3 /home/pi/serialmix/webapp.py |& tee -p /home/pi/serialmix/serialmixweb.log'

 [Install]
 WantedBy=multi-user.target