 [Unit]
 Description=SerialMix Web server and Rest API.
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=bash -c '/usr/bin/python3 /home/pi/serialmix/web/webapp.py 2>&1 | tee -p /home/pi/serialmix/web/serialmixweb.log'

 [Install]
 WantedBy=multi-user.target