 [Unit]
 Description=SerialMix Web server and Rest API.
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=sh -c '/usr/bin/python3 /home/pi/serialmix/webapp.py > /home/pi/serialmix/serialmix.log 2>&1'

 [Install]
 WantedBy=multi-user.target