
input.my-input-range {
    -webkit-appearance: slider-vertical;
    height: 50vh;
    width: 10vw;
}


.slidecontainer {
    display: flex;
    flex-direction: column;
    place-items: center;
}

#slider-pult {
    display: flex;
    place-content: center;
    /*margin-top: 0px;*/
    margin-top: 5vh;
}
#button-pult {
    display: flex;
    place-content: center;
    /*margin-top: 0px;*/
    /*height: 20vh;*/
}
.button-projector {
    width: 15vw;
}

.button-slider {

}

.active {
    background-color:red;
    color: white;
}
/*input [type="range"] {*/
/*    -webkit-appearance: slider-vertical;*/
/*}*/
