input[type='range'] {
  width: 200px;
  position: absolute;
  transform: rotate(270deg);
  height: 10%;
  margin-top: 100px;
  background: transparent;

}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(to right, #515d88, #515d88), #101010;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #515d88;
  border: solid #515d88 1px;
  border-radius: 50%;
  margin-top: -5px;

}

/** FF*/

input[type="range"]::-moz-range-progress {
  background-color: #293043;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background-color: #D7D7D7;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #293043;
  border: solid white 1px;
  border-radius: 50%;
  margin-top: -6px;

}

body {
    display: block;
    background-color: gray;
}

.btn {
  background-color: #404b44;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin: 10px;
  border-radius: 5px;
  top: 200px;
}


#slider-value1, #slider-value2, #slider-value3, #slider-value4, #slider-value5, #slider-value6 {
  position: relative;
  background: #515d88;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 15px 0;
  border-radius: 4px;
  left: 0vw;
  bottom: 50px;
  font-size: 22px;
  width: 100px;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 10%;
}

#slider-pult {
    display: flex;
    place-content: center;
    margin-top: 100px;
    color: white;
}

.active {
    background-color: #2b2b2c;
    color: white;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #ffffff;
    background: #0e336e;

}


.btn-primary {
  width: 20%;
  background-color: #484242;
  border-radius: 4px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: 0px 10px;
}

.btn-primary:hover {
  width: 20%;
  background-color: grey;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: 0px 10px;
}

#button-pult {
    display: flex;
    place-content: center;
    flex-direction: row;
    margin-top: 20px;
}

.btn:hover {
    color: #fff;
    background-color: #101010;
    border-color: #1c7430;
}

.btn:overlay {
    color: #fff;
    background-color: #cddc39;
    border-color: #1c7430;
}

input[type='range']:hover::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: #1899d6;
  border: solid #0e336e 5px;
  border-radius: 50%;
  margin-top: -10px;

}

input[type='range']:hover::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(to right, #0e336e, #0e336e), #101010;
  background-size: var(--background-size, 0%) 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {

  input[type='range'] {
  width: 150px;
  position: absolute;
  transform: rotate(0deg);
  height: 10%;
  margin-top: 50px;
  background: transparent;

}

  .btn {
  background-color: #404b44;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk", -apple-system, system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin: 10px;
  border-radius: 5px;
  top: 100px;
}